// Custom.scss

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

h1 {
    color: brown;
}

h1 {
    background: url("/images/logo.png") left / auto 100% no-repeat, url("/images/logo.png") right / auto 100% no-repeat;
}


p {
    font-family: Tahoma, serif;
    color: gray;
}
